#valaszt {
    width: 30%;
    margin: auto;
}

#adatbevitel {
    background-color: rgb(238, 238, 238);
    padding: 15px;
    border-radius: 20px;
}

#elonezet {
    padding: 15px;
}

#hibajelzes {
    color: red;
}

#kimenetvege {
    text-align: center;
}

#alaphelyzet {
    margin: auto;
    display: block;
}

input {
    width: 100%;
}